/* Основные свойства */
:root {
	--primary-text-colour: #212121;
	--title-text-colour: #757575;
	--accent-colour: #2196f3;
	--page-maintitle-color: #ffffff;
	--hero-footer-backcolor: #2f303a;
	--change-color-button: #188ce8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* Общие стили*/
body {
	background-color: var(--page-maintitle-color);
	color: var(--primary-text-colour);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
}
.list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.conteiner {
	width: 1200px;
	/* outline: 2px solid tomato; */
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header {
	border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.photo {
	display: block;
	max-width: 100%;
	height: auto;
}

/*Навигация, логотип верх страницы */
/* Выстраивание верха в ряд */
.list.nav {
	display: flex;
}
.link {
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;
}
.li-nav + .li-nav {
	margin-left: 50px;
}
.header-nav {
	margin-left: 94px;
}
.header-address {
	display: flex;
	margin-left: auto;
}
.li-adr:not(:last-child) {
	margin-right: 50px;
}
.conteiner.main-nav {
	display: flex;
	align-items: center;
	border-bottom: none;
}
/* Основные стили шапки */
.header-logo {
	display: block;
	padding-top: 24px;
	padding-bottom: 25px;

	text-decoration: none;
	color: var(--primary-text-colour);
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	line-height: 1.19;
}
.logo {
	color: var(--accent-colour);
}
.header-logo:hover,
.header-logo:focus {
	color: var(--accent-colour);
}

/* Навигация */
.link {
	position: relative;
	display: inline-block;

	color: var(--primary-text-colour);
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.link:hover,
.link:focus,
.header-address .link:hover,
.header-address .link:focus {
	color: var(--accent-colour);
}
/* Изменение цвета активной страницы*/
.link.current {
	color: var(--accent-colour);
}
.link.current::after {
	position: absolute;
	left: 0;
	bottom: -1px;

	content: "";
	width: 100%;
	height: 4px;
	background-color: rgba(33, 150, 243, 1);
	border-radius: 2px;

}
/* Стиль телефона и почты  */
.header-address .link {
	color: var(--title-text-colour);
}
.icon-contact {
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
	align-items: center;
	color: var(--title-text-colour);
}
.header-icon {
	margin-right: 10px;
	fill: currentColor;
}

/* Главная страница */
/* Секция герой */
.h1 {
	width: 696px;
	margin-left: auto;
	margin-right: auto;
}
.hero {
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: auto;
	margin-right: auto;

	text-align: center;

	/* outline: solid 3px tomato; */
	background-color: var(--hero-footer-backcolor);

	max-width: 1600px;
	height: 600px;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/sectionphoto.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-title {
	display: inline-block;
	margin-bottom: 45px;

	color: var(--page-maintitle-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-transform: uppercase;
	letter-spacing: 0.06em;
}
.hero-button {
	background-color: var(--accent-colour);
	color: var(--page-maintitle-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;

	min-width: 200px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 10px 32px;
}
.hero-button:hover,
.hero-button:focus {
	color: var(--page-maintitle-color);
	background-color: var(--change-color-button);
}

/* Секция наши преимущества */
/* Выстраивание в ряд */
.list.characters {
	display: flex;
}
.li-characters:not(:last-child) {
	margin-right: 30px;
}
.li-characters {
	width: 270px;
}
.section.items {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* Отступы, стили */
.items-title {
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
.items-description {
	margin: 0;

	color: var(--title-text-colour);
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/* Иконки */
/* Псевдоэлементы*/
/* .li-characters::before {
	content: "";
	display: block;
	height: 120px;
	background-color: rgba(245, 244, 250, 1);
	background-size: 70px;
	background-position: center;
	background-repeat: no-repeat;
}
.li-characters:nth-child(1)::before {
	background-image: url(../images/description/antenna.svg);
}
.li-characters:nth-child(2)::before {
	background-image: url(../images/description/vector.svg);
}
.li-characters:nth-child(3)::before {
	background-image: url(../images/description/comp.svg);
}
.li-characters:nth-child(4)::before {
	background-image: url(../images/description/astronaut.svg);
} */
/* SVG иконки */
.decoration-bacground {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	height: 120px;
	background-color: rgba(245, 244, 250, 1);
}
/* Что мы делаем */
.list.about {
	display: flex;
}
.photo-about:not(:last-child) {
	margin-right: 30px;
}
.section.work {
	padding-bottom: 94px;
}

/* Наша команда */
/* Кнопки соцсети */
.icons-bottom.team {
	justify-content: center;
}
.bottom-icons.top {
	border: none;
	box-shadow: none;
	color: #afb1b8;
}
.svg.team {
	fill: currentColor;
}
.bottom-icons.top:hover,
.bottom-icons.top:focus {
	color: var(--page-maintitle-color);
}

/* Флекс бокс */
.list.our-team {
	display: flex;
}
.list.team:not(:last-child) {
	margin-right: 30px;
}
/* Рамки фотографий */
.border {
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 0px 0px 4px 4px;

	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.list.team {
	text-align: center;
}
/* Основные стили */
.section-team {
	background-color: #f5f4fa;
	padding-top: 94px;
	padding-bottom: 94px;
}
.list.team {
	background-color: var(--page-maintitle-color);
}
.section-title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
.section-employees {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	margin-bottom: 10px;
}
.section-proffesion {
	color: var(--title-text-colour);
	font-size: 16px;
	line-height: 1.19;
	margin: 0;
	margin-bottom: 16px;
}

/* Постоянные клиенты */
.section-clients {
	padding-top: 94px;
	padding-bottom: 94px;
}
.title-clients {
	margin-bottom: 50px;

	font-size: 36px;
	font-weight: 700;
	line-height: 1.17;
	text-align: center;
}
.clients {
	display: flex;
}
.li-company:not(:last-child) {
	margin-right: 30px;
}
.link-company {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 92px;

	color: rgba(175, 177, 184, 1);
	border: solid 1px rgba(175, 177, 184, 1);
	border-radius: 4px;
}
.company-photo {
	fill: currentColor;
}
.link-company:hover,
.link-company:focus {
	border: solid 1px rgba(33, 150, 243, 1);
	color: var(--accent-colour);
}

/* Страница Портфолио */
/* Кнопки */
.list.button {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.li-button:not(:last-child) {
	margin-right: 10px;
}
.nav-buttons {
	padding: 6px 22px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;

	border-radius: 4px;
	border: none;
	cursor: pointer;
}
.nav-buttons.main {
	background-color: var(--accent-colour);
	color: var(--page-maintitle-color);
}
.nav-buttons:hover,
.nav-buttons:focus {
	color: var(--page-maintitle-color);
	background-color: var(--accent-colour);
	box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
				0px 4px 4px 0px rgba(0, 0, 0, 0.06),
				0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

/* Наши работы */
.section.serv {
	padding-top: 94px;
	padding-bottom: 94px;
}
.list.service {
	display: flex;
	flex-wrap: wrap;
}
.product {
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
}
.decor-shadow {
	text-decoration: none;
	color: var(--primary-text-colour);
	display: inline-block;
}

.decor-shadow:hover,
.decor-shadow:focus {
	box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
				0px 4px 4px 0px rgba(0, 0, 0, 0.06),
				0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.product:nth-last-child(-n + 3) {
	margin-bottom: 0px;
}
.product:nth-child(3n) {
	margin-right: 0px;
}
.decription {
	padding-top: 20px;
	padding-left: 24px;
	padding-bottom: 20px;
	padding-right: 24px;

	border-bottom: 1px solid rgba(238, 238, 238, 1);
	border-left: 1px solid rgba(238, 238, 238, 1);
	border-right: 1px solid rgba(238, 238, 238, 1);
}
.section-service {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.section-description {
	font-size: 16px;
	line-height: 1.88;
	margin: 0;
}

/* Футер */
/* Логотип */
.footer {
	background-color: var(--hero-footer-backcolor);
	padding-top: 60px;
	padding-bottom: 60px;
}
.footer-logo {
	display: inline-block;
	margin-bottom: 20px;

	font-family: "Raleway", sans-serif;
	color: var(--page-maintitle-color);
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
}
.logo-bottom {
	color: var(--accent-colour);
}
.footer-logo:hover,
.footer-logo:focus {
	color: var(--accent-colour);
}
/* Адрес */
.link-map {
	display: block;

	color: var(--page-maintitle-color);
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
}
.link-contact {
	display: block;

	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
}
.link-con {
	margin-bottom: 10px;
}
.link-map:hover,
.link-map:focus,
.link-contact:hover,
.link-contact:focus {
	color: var(--accent-colour);
}
.call {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: var(--page-maintitle-color);
	line-height: 1.14;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	letter-spacing: 0.03em;
}
.icons-bottom {
	display: flex;
}
.flex-bottom {
	display: flex;
	align-items: baseline;
}
.margin-flex {
	margin-right: 70px;
}
.li-sosial:not(:last-child) {
	margin-right: 10px;
}
.bottom-icons {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 44px;
	height: 44px;

	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.bottom-icons:hover,
.bottom-icons:focus {
	background-color: var(--accent-colour);
}
.svg {
	fill: var(--page-maintitle-color);
}
